.workout {
    margin: 20px;
    display: grid;
    grid-template-rows: auto auto auto;

    h2 {
        margin: 10px auto;
    }

    .workoutForm {
        > form {
            height: auto;
            > label {

                > input {
                    margin: 5px;
                }
            }

        }
    } 
    
    .workouts {

    }
}

.btn {
    background-color: #4287f5;
    border: none;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
}



